body {
  background-color: #FFF4FD;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night {
  background-color: #110038;
}

.header__title {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .header__title {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.button,
.button1,
.capture__button1,
.button_cancel,
.button_rep,
.buttons__copy,
.buttons__download,
.button_canc_uploading,
.button_start,
.button_up,
.button_ready,
a {
  cursor: pointer;
  color: #110038;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.Night .button, body.Night
.button1, body.Night
.capture__button1, body.Night
.button_cancel, body.Night
.button_rep, body.Night
.buttons__copy, body.Night
.buttons__download, body.Night
.button_canc_uploading, body.Night
.button_start, body.Night
.button_up, body.Night
.button_ready, body.Night
a {
  color: #FFFFFF;
}

.title_search,
.suggestion__title_img,
.trends__title_img,
.guifos__title,
.pre_record__title,
.success__title {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .title_search, body.Night
.suggestion__title_img, body.Night
.trends__title_img, body.Night
.guifos__title, body.Night
.pre_record__title, body.Night
.success__title {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.search,
.create_guifos,
.pre_record,
.success,
.trends__img,
.search_suggestion,
.suggestion__img {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .search, body.Night
.create_guifos, body.Night
.pre_record, body.Night
.success, body.Night
.trends__img, body.Night
.search_suggestion, body.Night
.suggestion__img {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.button_search {
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .button_search {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.button_search {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.button_search:active {
  background: #E6BBE2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body.Night .button_search:active {
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.suggestion__title,
.trends__title,
.my_guifos__title {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.suggestion__buttonSeeMore {
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
}

body.Night .suggestion__buttonSeeMore {
  background: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.suggestion__buttonSeeMore:hover {
  background: #3A72DB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

body.Night .suggestion__buttonSeeMore:hover {
  background: #2629CC;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.trends__img .img {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
}

.button_themes_them {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .button_themes_them {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.button2,
.capture__button2,
.capture__button1 {
  cursor: pointer;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .button2, body.Night
.capture__button2, body.Night
.capture__button1 {
  background: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.button1,
.button_theme,
.button,
.button_start,
.button_ready {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .button1, body.Night
.button_theme, body.Night
.button, body.Night
.button_start, body.Night
.button_ready {
  background: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body.Night .button1:hover, body.Night
.button_theme:hover, body.Night
.button:hover, body.Night
.button_start:hover, body.Night
.button_ready:hover {
  background: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.button_up,
.button_rep {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.Night .button_up, body.Night
.button_rep {
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

body.Night .button_up:hover, body.Night
.button_rep:hover {
  border: 1px solid #FFFFFF;
}

.button_cancel,
.button_canc_uploading,
.buttons__copy,
.buttons__download {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body.Night .button_cancel, body.Night
.button_canc_uploading, body.Night
.buttons__copy, body.Night
.buttons__download {
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.button_theme:hover {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.gifos {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.gifos:active {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #535353;
  letter-spacing: 0;
  line-height: 18px;
}

.gifos:hover {
  border: 1px solid #110038;
}

body.Night .gifos {
  color: #FFFFFF;
}

body.Night .gifos:hover {
  border: 1px solid #FFFFFF;
}

.buttonTheme {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.buttonTheme:hover, .buttonTheme:active {
  background: #E6BBE2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body.Night .buttonTheme {
  background: #EE3EFE;
}

body.Night .buttonTheme:hover, body.Night .buttonTheme:active {
  background: #CE36DB;
}

.buttonSearch_inactive {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
}

.search_suggestion {
  width: 1200px;
  height: 160px;
}

.search__options {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.search__options:hover {
  background: #DBDBDB;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.history__item {
  color: #FFFFFF;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.guifos_content__title,
.timer,
.up_loading__title,
.right__title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: bold;
}

.guifos__content div {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.pre_record_video {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.forward {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body.Night .forward {
  background: #B4B4B4;
  border: 1px solid #979797;
  -webkit-box-shadow: inset 2px 2px 0 0 #E6E6E6, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #E6E6E6, inset -2px -2px 0 0 #000000;
}

.loading,
.loading_up {
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
}

.block {
  background: #F7C9F3;
}

body.Night .block {
  background: #EE3EFE;
}

a {
  text-decoration: none;
}

header, section {
  margin-right: 5%;
  margin-left: 5%;
}

.header__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 16px;
  width: 1200px;
}

.title_search {
  width: 1194px;
}

.guifos__title {
  width: 678px;
}

.pre_record__title {
  width: 854px;
}

.success__title {
  width: 715px;
}

.title_search,
.guifos__title,
.pre_record__title,
.success__title {
  height: 24px;
  margin: 3px;
  font-weight: bold;
}

.search {
  width: 1200px;
}

.search_items {
  height: 75px;
  width: 1200px;
}

.create_guifos {
  height: 386px;
  width: 684px;
  margin: 75px 0px 153px 378px;
}

.pre_record {
  height: 548px;
  width: 860px;
  margin: 85px 0px 0px 265px;
  display: none;
}

.success {
  width: 721px;
  height: 391px;
  margin: 85px 0px 180px 360px;
}

#textSearch {
  height: 48px;
  width: 1057px;
  margin: 12px 8px 12px 15px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button_search {
  height: 36px;
  width: 102px;
}

.suggestion {
  margin-top: 64px;
}

.title_search,
.suggestion__title,
.my_guifos__title,
.trends__title,
.suggestion__title_img,
.button1,
.button2,
.capture__button2,
.capture__button1,
.stop1,
.stop2,
.button_theme,
.guifos__title,
.button_cancel,
.button_rep,
.button_canc_uploading,
.button_start,
.button_ready,
.button_up,
.pre_record__title,
.success__title,
.timer,
.play_video,
.up_loading,
.buttons__copy,
.buttons__download,
.content__right,
.button,
.search__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button,
.button1,
.capture__button1,
.button_cancel,
.button_rep,
.buttons__copy,
.buttons__download,
.button_canc_uploading,
.button_start,
.button_ready,
.button_up,
.stop2,
a {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body,
.up_loading,
.content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.suggestion__title,
.my_guifos__title,
.trends__title {
  width: 1200px;
  height: 32px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 7px;
}

.suggestion__img {
  margin: 16px 16px 64px 0px;
  width: 288px;
  height: 313px;
}

.gifSuggestion {
  width: 280px;
  height: 280px;
}

.gifTreding, .my_gifId img {
  width: 288px;
  height: 298px;
}

.header__title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  width: 1438px;
}

.gifTreding:hover {
  width: 286px;
  height: 296px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin: 4px;
}

.suggestion__bar_img {
  position: relative;
  margin: 3px 4px 2px 4px;
}

.pre_record,
.success {
  position: relative;
}

.suggestion__buttonX {
  position: absolute;
  top: 5px;
  left: 260px;
}

.pre_record__buttonX {
  position: absolute;
  top: 8px;
  left: 831px;
}

.success__buttonX {
  position: absolute;
  left: 698px;
  top: 8px;
}

.suggestion__title_img {
  height: 24px;
  font-weight: bold;
}

.buttons,
.buttons_create_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

.button {
  margin-right: 16px;
  height: 36px;
  width: 144px;
}

.capture__button1, .stop2 {
  height: 36px;
  width: 144px;
  padding-left: 39.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button1 {
  padding-left: 24px;
  height: 36px;
  width: 131px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.capture__button2, .stop1 {
  padding-left: 9px;
  height: 36px;
  width: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button2 {
  padding-left: 13px;
  margin-right: 16.5px;
  height: 36px;
  width: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button_theme {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  width: 150px;
  height: 36px;
}

.suggestion__buttonSeeMore {
  position: absolute;
  margin-top: 231px;
  margin-left: 7px;
}

.suggestion__buttonSeeMore {
  height: 34px;
  width: 81px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.suggestion__body_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 4px;
}

#suggestion__img,
.buttons_create,
.buttons_rep_up,
#my_guifos__img,
.buttonsStopRecord,
.buttons_video,
.buttons_ready,
.button_themes_sel,
.button_capture,
.success__content,
.loading,
.loading_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button_up {
  margin-left: 14px;
}

.buttons_create {
  margin-left: 271px;
}

.buttonsStopRecord {
  cursor: pointer;
  width: 180px;
  height: 36px;
  margin-right: 16px;
}

.trends__img {
  width: 288px;
  height: 298px;
}

.trends__img:hover {
  width: 294px;
  height: 304px;
}

#trends__img,
#my_guifos__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 1300px;
}

.trends__img,
.my_gifId {
  position: relative;
  margin: 16px 16px 11px 0px;
}

.trends__title_img {
  position: absolute;
  top: 92%;
  height: 20px;
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  font-weight: bold;
}

.trends {
  width: 1200px;
}

.button_capture, .buttonsStopRecord {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 16px;
}

.button_start,
.button_ready,
.button_up,
.button_cancel,
.button_canc_uploading {
  width: 144px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}

.button_ready {
  margin-right: 0px;
}

.button_rep {
  width: 144px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons__copy,
.buttons__download {
  width: 256px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons__copy {
  margin: 16px 0px 14px 0px;
}

.button_themes_them {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 102px;
  position: absolute;
  display: none;
  z-index: 10;
}

.button_theme {
  width: 150px;
  height: 36px;
  margin: 10px;
}

.buttons_themes {
  position: relative;
}

.search_suggestion {
  display: none;
  margin: 0px;
  position: absolute;
  z-index: 1;
}

.search__options {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  width: 1057px;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search_suggestion_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 16px 128px 6px 15px;
}

.history__item {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  width: 100px;
  height: 34px;
  margin: 12px 8px 54px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
}

.history_search,
.header__guifos,
.guifos__body,
.play_video,
.timerVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.img_arrow {
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guifos__title span,
.pre_record__title span,
.success__title span {
  padding-left: 4px;
}

.guifos__content {
  margin: 30px 0px 0px 16px;
}

.guifos_content__title {
  margin-bottom: 17px;
}

.paragraph {
  width: 518px;
  height: 190px;
  margin-bottom: 28px;
}

.paragraph .div {
  margin-bottom: 10px;
}

.window_img {
  height: 32px;
  width: 32px;
  margin: 30px 0px 0px 25px;
}

.pre_record_video {
  width: 838px;
  height: 440px;
  margin: 8px 0px 21px 8px;
}

.pre_record_video, .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stop1, .stop2 {
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.timer {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 124px;
  height: 36px;
}

.buttons_video {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons_ready {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 46px;
}

.content__right {
  margin-left: 24px;
}

.timer {
  margin-left: 16px;
}

.loading {
  z-index: 1;
  width: 240px;
  height: 24px;
}

.loading_up {
  z-index: 1;
  position: relative;
  width: 324px;
  height: 24px;
}

.forward {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonsStopRecord,
.buttons_rep_up,
.my_guifos,
.timer,
.play_video,
.up_loading,
.button_canc_uploading,
.success {
  display: none;
}

.play_video {
  margin-left: 24px;
}

.years38 {
  text-decoration: line-through;
}

.pre_record__create,
.pre_record__capture,
.pre_record__record,
.pre_record__rep_up,
.pre_record__uploading {
  display: none;
}

.up_loading__description {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.up_loading__title {
  margin: 8px 0px 41px 0px;
}

.loading,
.forward {
  margin-bottom: 8px;
}

.video_demo {
  width: 371px;
  height: 196px;
  margin-left: 24px;
}

.success__content {
  margin: 27px 0px 61px 0px;
}

.gifIdOne .img {
  width: 365px;
  height: 191px;
  margin: 2px 3px;
}

.block {
  width: 12px;
  height: 20px;
  margin: 2px 0px 0px 2px;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */